node_modules
.env
app/.env
*.pem
__pycache__
machine-learning/preprocessing/output_minute.csv
app/LightGBM/shortterm/predictions/*
app/LightGBM/longterm/predictions/*
app/LightGBM/shortterm/df_*
app/LightGBM/shortterm/hourly_parkade_data.csv
app/x_11/stalls_data.csv
app/x_11/stalls_data.json