pytest
pandas 
http://download.pytorch.org/whl/cpu/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
numpy
pandas 
prophet 
seaborn 
matplotlib
scikit-learn
beautifulsoup4
requests
lightgbm
statsmodels
plotly
flask