.liveView {
    position: absolute;
    margin: 50px;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 170vh;
    height: 85%;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    overflow: hidden; /* Ensure circle stays inside the rectangle */
  }
  

  .charts {
    padding: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-height: calc(100% - 100px); /* Adjust as needed */
    overflow-y: auto; /* Add vertical scrollbar if necessary */
    justify-content: center;
  }
  
  .placeholder-box {
    width: calc(25%); /* Adjust the width based on your design */
    height: 25vh; /* Adjust the height based on your design */
    background-color: #f0f0f0; /* Placeholder color */
    margin-bottom: 10px; /* Adjust as needed */
    box-sizing: border-box;
    border-color: black;
    border-radius: 20px;
  }
  
  .key {
    /* Add styles for your key container */
    height: 15%; /* Example height for the key container */
    width: 170vh;
    border-radius: 10px;
    background-color: #070811;
    opacity: 50%;

  }

  .liveView {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.charts {
  /* Add styles for your charts container */
}
.occupancy-key {
  margin: 5vh;
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust as needed */
}

.key-label {
  margin-right: 10px; /* Adjust as needed */
}

.key-list {
  display: flex;
  flex-direction: row;
}

.key-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.key-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px; /* Adjust as needed */
}

.key-description {
  /* Add styles for key description */
}
