.liveView {
  position: absolute;
  margin: 50px;
  margin-left: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170vh;
  height: 85%;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  color: #9C9FBB;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.chart-box {
  width: calc(40% - 20px);
  height: 50vh;
  background-color: rgba(7, 8, 17, 0.5);
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.chart-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 2.5vh;
  font-weight: bold;
}

.parkade-name {
  font-weight: bold;
}

/* Add this to your liveView.css file */
.warning-sign {
  color: red;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.warning-tooltip {
  position: absolute;
  bottom: -30px; /* Adjust the distance of the tooltip from the icon */
  left: 50%; /* Position the tooltip horizontally centered */
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1; /* Ensure the tooltip appears above other elements */
  opacity: 0; /* Initially hide the tooltip */
  transition: opacity 0.3s ease; /* Add transition effect for smooth visibility */
}

.warning-sign:hover .warning-tooltip {
  opacity: 1; /* Show the tooltip on hover */
}




.chart-content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
}



.large-placeholder {
  width: calc(70%);
  height: calc(65%); /* This makes the height equal to the width */
  border-radius: 10px;
  position: absolute;
  top: 10px; /* Adjust top position */
  left: 10px; /* Adjust left position */
  display: flex;
  justify-content: center;
  align-items: center;
}

.large-placeholder .percentage-center {
  font-size: 22px;
}

.large-placeholder .chart-title{
  font-size: 15px;
}

.small-placeholder .percentage-center {
  font-size: 18px;
}

.small-placeholder .chart-title{
  font-size: 12px;
}


.small-placeholder {
  width: calc(25%); /* Adjust the width so it fits snugly next to the large placeholder */
  height: calc(20%);
  border-radius: 10px;
  position: absolute;
  bottom: 50px; /* Adjust bottom position */
  right: 10px; /* Adjust right position */
  display: flex;
  justify-content: center;
  align-items: center;
}



.keys {
  height: 15%;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(7, 8, 17, 0.5);
  display: flex;
  flex-direction: column; /* Change flex direction to column */
  align-items: center; /* Align items in the center horizontally */
  justify-content: flex-start; /* Align items at the start vertically */
}

.key {
  display: flex;
  align-items: center;
  margin: 10px;
}


.key-label {
  margin-right: 10px;
}

.key-list {
  display: flex;
  flex-direction: row;
}

.key-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.key-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.key-description {
  /* Add styles for key description */
}

/* Custom scrollbar styling */
.charts::-webkit-scrollbar {
  width: 12px;
}

.charts::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.charts::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.charts::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}
