.shortTermView{
  margin: 0;
}


.intro-section {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.intro-section h2 {
  padding-top: 20px;
  margin-bottom: 10px;
}

.intro-section p {
  
  font-size: 1.2em;
  margin-bottom: 20px;
}

.divider {
  width: 100%;
  max-width: 800px;
  border: none;
  height: 2px;
  background-color: #ccc;
}

.results {
  width: 80%;
  max-width: 90%;
  margin-top: 20px;
}

.results-longterm {
  width: 60%;
}

.graph {
  height: 30vh;
}
.timeframe-longterm{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  
}

.generate-container button[disabled] {
  opacity: 0.6; /* Ensure it's visible */
  color: #ffffff; /* White text to ensure contrast */
  background-color: #3f51b5; /* Keep the primary color or choose another visible color */
}


.timeframe-longterm > * {
  padding-right: 30px; /* Adjust the value as needed */
}
