@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Outfit', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #282c34;
  color: white;
}

body.light {
  background-color: #f0f0f0;
  color: #0e0e0e;
}
