.info-window-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding-bottom: 20px;
}

.info-window-diagrams {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
